/* Reset + layout baseline */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 1rem;
  background-color: aliceblue;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

/* Centered box */
.container {
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}


/* Heading spacing */
.heading {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Form layout */
.form form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

/* Label styling */
.form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* Input styling */
.form input {
    padding: 0.8rem;
    font-size: 1.5rem !important;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea{
    padding: 1rem;
    font-size: 1.5rem !important;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}

.search-div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10rem;
  font-size: 10rem;
}

.search-div input{
  width: 30rem;
  padding: 1.5rem;
  margin: 2rem;
  font-size: 2rem;
}

.search-div button{
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 10px;
}


.output {
  margin-top: 2rem; 
}
.output-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
  position: relative;
}



.main-list{
  margin: 2rem;
}

.main{
  margin-left: 2rem;
}

.li-img{
  width: 400px;
  height: 400px;
  margin: 2rem;
}

.li-personal{
  margin-left: 2rem;
  margin-top: 2rem;
}

.li-personal h1{
  margin-bottom: 10px;
}

.li-personal p{
  margin-bottom: 10px;
}

.li-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}






.li-edit{
  position:absolute;
  top: 0;
  right: 2rem;
  width: 10rem;
  font-size: 2rem;
}









